.navBg {
	background-color: rgb(0, 86, 148);
}

.logo {
	width: 15%;
	margin-right: auto;
	margin-left: 2em;
	margin: 1.25em 0;
}

.logo:hover {
	cursor: pointer;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.logo {
		width: 40%;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.logo {
		width: 25%;
	}
}
